.searchbar {
  width: 100%;
  max-width: 300px;
  padding: 5px 5px;
  font-size: 13px;
  border: none;
  border-radius: 999px; /*arrondi bacille*/
  background-color: #1a1a1a;
  color: #e62429;
  box-shadow: 0 0 5px rgba(230, 36, 41, 0.5);
  transition: box-shadow 0.2s ease, background-color 0.2s ease;
}

.searchbar::placeholder {
  color: #ff6666;
  font-style: italic;
}

.searchbar:focus {
  outline: none;
  box-shadow: 0 0 8px rgba(230, 36, 41, 0.8);
  background-color: #111;
}
