@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap");

.home-container {
  position: relative;
  display: flex;
  flex-direction: column;
  min-height: calc(100vh - 60px - 60px);
}

.main-content {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2rem;
}

.welcome-image {
  max-width: 90%;
  height: auto;
  object-fit: contain;
  transition: transform 0.3s ease;
}

.welcome-image:hover {
  transform: scale(1.02);
  cursor: pointer;
}
