.favourites-container {
  padding: 2rem;
  background-color: #111;
  color: #fff;
  min-height: 80vh;
}

.favourites-list {
  display: flex;
  flex-wrap: wrap;
  gap: 1.5rem;
  justify-content: center;
}

.favourite-item {
  background-color: #222;
  border: 2px solid #e62429;
  border-radius: 12px;
  padding: 1rem;
  width: 320px;
  box-shadow: 0 0 10px #e62429;
  color: white;
}

.favourite-item img {
  width: 100%;
  height: 180px;
  object-fit: cover;
  border-radius: 8px;
}

.favourite-item p {
  margin-top: 0.5rem;
  font-weight: bold;
  font-size: 16px;
  color: #e62429;
}
