* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html,
body,
#root {
  font-family: Arial, sans-serif;
  background: rgba(0, 0, 0, 0.6);
}

.app-container {
  display: flex;
  flex-direction: column;
}
