/*bcg modale*/
.modal-overlay {
  position: fixed;
  inset: 0;
  background: rgba(0, 0, 0, 0.8);
  z-index: 1000; /* au-dessus du contenu normal */
}
/*contenu modale*/
.modal-content {
  position: fixed;
  inset: 0;
  margin: auto;
  width: 320px;
  max-width: 90vw;
  max-height: 80vh;
  background: #111;
  border-radius: 12px;
  padding: 32px;
  box-shadow: 0 0 20px #00f6ff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  z-index: 1001; /* au-dessus de l’overlay */
  overflow-y: auto; /* scroll vertical si contenu trop grand */
}

/* Iron Man et bouclier centrée */
.modal-hero {
  width: 280px;
  height: auto;
  margin: 0 auto 16px;
  display: block;
}

/* onglets Login/Signup */
.modal-tabs {
  display: flex;
  justify-content: center;
  margin-bottom: 16px;
}

.modal-tabs button {
  flex: 1; /* partagent l’espace */
  background: none;
  border: none;
  color: white;
  font-weight: 700;
  font-size: 16px;
  cursor: pointer;
  padding: 8px 16px;
  transition: background-color 0.3s ease, color 0.3s ease;
  border-bottom: 2px solid transparent;
}

/* actif ou survol */
.modal-tabs button.active,
.modal-tabs button:hover {
  color: #00f6ff;
  border-bottom: 2px solid #00f6ff;
}

/* Formulaire en colonne */
.modal-form {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

/* Inputs du formulaire */
.modal-form input {
  padding: 12px 16px;
  border-radius: 6px;
  border: none;
  font-size: 16px;
  outline: none;
}

.modal-form input:focus {
  box-shadow: 0 0 8px #00f6ff;
}

/* submit*/
.modal-form button {
  background: #00f6ff;
  color: #000;
  border: none;
  border-radius: 6px;
  font-weight: 700;
  font-size: 16px;
  padding: 12px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.modal-form button:hover {
  background: #00f6ff;
}

/* Message d’erreur */
.modal-error {
  color: #e62429;
  text-align: center;
  margin-top: 16px;
  font-size: 14px;
}

/*message welcome*/
.modal-welcome {
  margin-top: 20px;
  color: #00f6ff;
  font-weight: bold;
  text-align: center;
  animation: fadeIn 0.3s ease-in-out;
}

/*mes paragraphes*/
p {
  margin-top: 20px;
  font-size: 22px;
  color: #e62429;
}
